html,
body {
    margin: 0;
    width: 100dvw;
    height: 100svh;
    font-family: sans-serif;
}

body {
    background: linear-gradient(45deg, rgb(0, 24, 54), rgb(97, 184, 255));
    background-repeat: no-repeat;
    background-size: cover;
}